:root{
    --primary-color:#10592e;
    --addition-color:#8dc642;
    --background-color: #dce9d8;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#7b7b7b;
    --border-color:#e1e1e1;
    
    --border-button-color:#d9d9d9;
    --object-hover-color:#ebebeb;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Montserrat";
    
}
.app{
    overflow-x: hidden;
    overflow-y: hidden;
}

/* responsive */
.grid{
    margin-left: 150px;
    margin-right: 150px;
    max-width: 100%;
}
.grid2{
    margin-left: 60px;
    margin-right: 60px;
    max-width: 100%;
}
.grid__full--width{
    width: 100% !important;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.grid__column-6{
    padding-right: 20px;
    width: 50%;
}
.grid__column-6:nth-child(2){
    padding: 0;
}
/* Button style */
.btn{
    min-width: 132px;
    text-decoration: none;
    border: none;
    border-radius: 35px;
    font-size: 15px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    font-weight:600;
}
.btn:hover{
    opacity: 0.7;
}
.style-padding{
    padding: 87px 0;
}

/* Tablet & mobile*/
@media(max-width:1023px){
    .grid {
        margin-left: 50px;
        margin-right: 50px;
        max-width: 100%;
    }
    
    .btn:first-child{
        display: none;
    }
    .search-container {
        display: none;
    }
   
}

/* Mobile */
@media (max-width:740px){
    .grid__full--width-mb{
        width: 100% !important;
    }
    .grid{
        margin-left: 30px;
        margin-right: 30px;
        max-width: 100%;
    }
    .grid2{
        margin-left: 20px;
        margin-right:20px;
        max-width: 100%;
    }
    .grid__column-6{
       width: 100% !important;
    }
    .nav-none{
        display: none !important;
    }
    .search-container {
        display: none;
    }
    .slider .btn {
        /* display: none; */
        font-size: 7px !important;
    }
    
    .style-height-slider{
        height:30px !important;
        max-width: 50px !important;
    }
    .panel{
        margin: 8px 0 !important;
    }
    .border-icon{
        margin-left: 18px !important;
    }
    .content__lorem-title{
        padding: 5px 100px !important;
        font-size: 12px !important;
    }
    .content__list-item{
        margin-top: 30px;
    }
    .content__list:nth-child(2){
        display: flex !important;
        justify-content: space-between;
        align-items: center; 
    }
    .more__content-img {
        width: 80% !important;
    }
    .header__close-icon{
        margin-right: 33px !important;
    }
    .content__list{
        margin: 30px 0 !important;
    }
    .content__list:nth-child(2),
    .process__content,          
    .more__content,
    .content__4-list{
       display: flex !important;
       flex-direction: column;
       align-items: center;
    }
    .content__footer{
        display: block !important;
    }
    .border-icon-content {
        right: 20px !important;
    }
    .border-icon{
        padding: 5px !important;
    }
    .header__navbar-icon{
        display: none !important;
    }
    .mobile-menu-btn{
        display: block !important;
    }
    .content__4-item {
        width: 100% !important;
        border-radius: 30px !important;
    }

    .grid-md-4:nth-child(2) {
        margin: 20px 0 !important;
    }
    .grid-md-4:first-child {
        margin: 0 !important;
    }
    
    .header__navbar-list{
        display: block !important;
    }
    
    .header__navbar-item.header__navbar-item-type2 {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    .header__navbar-item.header__navbar-item-type2.nav_acvite {
        height: auto;
    }
    .header__navbar-item-link{
        padding: 0 18px;
        padding-left: 20%;
        transition: 1s all;
    }
    .nav_acvite .header__navbar-item-link {
        padding-left: 0;
    }
    .content__lorem-heading,
    .accordion__item-title-minus{
        font-size: 14px !important;
    }
    .content-title,
    .content__title,
    .content__title a,
    .accordion__paragraph{
        font-size: 12px !important;
    }
    .content-heading,
    .content__heading{
        font-size: 25px !important;
    }
    .header__navbar-item-link >a{
        display: flex;
        justify-content: left!important;
       
    }
}
@media(max-width:470px){
    .header__close-icon{
        display: none !important;
    }
    
}
@media (min-width: 576px){
    .grid-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .grid-sm-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }
}
@media (min-width: 768px){
    .grid-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .grid-md-4:last-child{
        margin: 0;
    }
}

